<div id="top">
  <div id="myname">
    <%= link_to root_path do %>
      <h1 id="ml">mlg</h1>
    <% end %>
  </div>
  <div id="sayhello">
    <a href="mailto:margauxxlegall@gmail.com?subject= Contact request" target="_blank">
      <h1>say hello</h1>
    </a>
  </div>
</div>
<div id="right">
  <div id="behance">
    <a href="https://www.behance.net/margaux-le-gall" target="_blank">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683280/portfolio/behance_ihazia.png" width="60%" alt="Behance">
    </a>
  </div>
  <div id="github">
    <a href="https://github.com/lololegall" target="_blank">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683282/portfolio/github_lqupgh.png" width="55%" alt="GitHub">
    </a>
  </div>
  <div id="linkedin">
    <a href="https://www.linkedin.com/in/margaux-le-gall/?locale=en_US" target="_blank">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683282/portfolio/linkedin_ktts9h.png" width="50%" alt="Linkedin">
    </a>
  </div>
</div>

<div id="bottom">
  <%= link_to work_path do %>
    <h1>work</h1>
  <% end %>
  <%= link_to what_i_can_do_path do %>
    <h1>what I can do</h1>
  <% end %>
  <%= link_to about_path do %>
    <h1>about</h1>
  <% end %>
  <%= link_to contact_path do %>
    <h1>contact</h1>
  <% end %>
</div>

<div id="left"></div>
