<%= render 'components/navbar' %>

<div class="fade-in-bottom">

  <div class="page-work">
    <div class="project">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683319/portfolio/margalouproject_xsrvrs.png" width="100%" alt="Margalou">
      <%= link_to margalou_path do %>
        <button class="btn btn-work btn-left-one">CASE STUDY</button>
      <% end %>
    </div>
    <div class="project">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683318/portfolio/sucresaleproject_zkfdkk.png" width="100%" alt="Sucré Salé">
      <%= link_to sucre_sale_path do %>
        <button class="btn btn-work btn-right-one">CASE STUDY</button>
      <% end %>
    </div>
    <div class="project">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683329/portfolio/defiwindproject_ztpvkt.png" width="100%" alt="Défi Wind">
      <%= link_to defi_wind_path do %>
        <button class="btn btn-work btn-left-two">CASE STUDY</button>
      <% end %>
    </div>
    <div class="project">
      <img src="https://res.cloudinary.com/lololegall/image/upload/v1599683324/portfolio/unchienenvilleproject_vad752.png" width="100%" alt="Un chien en ville">
      <%= link_to un_chien_en_ville_path do %>
        <button class="btn btn-work btn-right-two">CASE STUDY</button>
      <% end %>
    </div>
  </div>

  <%= render 'components/footer' %>
</div>
