<!DOCTYPE html>
<html>
  <head>
    <title>Margaux Le Gall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|horizontal|,|sensitivity|:0.8,|colorStart|:[252,239,235,1],|colorEnd|:[248,248,248,1]},|particle|:{|life|:10000000,|power|:0,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/circle_05.png|,|number|:395,|colorStart|:[0,0,0,1],|colorEnd|:[0,0,0,1],|sizeStart|:0.35,|sizeEnd|:0.7,|direction1|:{|x|:0,|y|:0,|z|:0},|direction2|:{|x|:0,|y|:0,|z|:0}},|waterMark|:false}" data-container=".undefined"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bonjour, I’m Margaux, a digital marketer, UX UI designer &amp; front-end web developer based in Marseille.">
    <meta name="keywords" content="digital, marketing, ux, ui, design, webdesign, webdevelopment, frontend, web, emarketing, webmarketing">
    <meta name="author" content="Margaux Le Gall">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Notable&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('favicon.png') %>


  </head>

  <body>
    <%= yield %>
  </body>
</html>
